{% if page.url == '/' %}<div data-barba="container" data-barba-namespace="home">{% endif %}
{% if page.url == '/features/user-friendly/' %}<div data-barba="container" data-barba-namespace="feature">{% endif %}
{% if page.url == '/features/easy-peasy/' %}<div data-barba="container" data-barba-namespace="feature">{% endif %}
{% if page.url == '/features/smart/' %}<div data-barba="container" data-barba-namespace="feature">{% endif %}
{% if page.url == '/features/extensible/' %}<div data-barba="container" data-barba-namespace="feature">{% endif %}
{% if page.url == '/features/futureproof/' %}<div data-barba="container" data-barba-namespace="feature">{% endif %}
{% if page.url == '/features/community/' %}<div data-barba="container" data-barba-namespace="feature">{% endif %}
{% if page.url == '/examples/' %}<div data-barba="container" data-barba-namespace="examples">{% endif %}
{% if page.url == '/showcase/' %}<div data-barba="container" data-barba-namespace="showcase">{% endif %}
{% if page.collection == 'docs' %}<div data-barba="container" data-barba-namespace="docs">{% endif %}
